.box {
  display: flex;
  flex-direction: column;
  height: 100%;
}

header {

}

main {
  flex: 1 0 auto;
  padding-bottom: 1rem;
}

footer {
  padding: 30px 0;
  border-top: 1px solid #e8e8e8;
  flex-shrink: 0;
}

a {
  color: #cccccc;
  text-decoration: none;

  &:hover {
    color: #ffffff;
    text-decoration: underline;
  }
}
