<div class="box">
  <header class="container pt-4">
    <div class="d-flex">
      <div *ngIf="title && title.length">
        <h1>{{translations[getLanguage()]?.title || title}}</h1>
      </div>
      <div class="flex-grow-1"></div>
      <div class="language-selection">
        <a href="#" class="mr-2" (click)="setLanguage('en'); $event.preventDefault();">
          <span class="flag-icon flag-icon-us"></span>
        </a>
        <a href="#" (click)="setLanguage('de'); $event.preventDefault();">
          <span class="flag-icon flag-icon-de"></span>
        </a>
      </div>
    </div>
    <div *ngIf="description && description.length">
      <h3>{{translations[getLanguage()]?.description || description}}</h3>
    </div>
  </header>

  <main class="container">
    <router-outlet></router-outlet>
  </main>

  <footer>
    <div class="container">
      <div class="row">
        <div class="col-12 col-sm-6">
          Powered by <a href="https://git.sp-codes.de/samuel-p/universal-statuspage">universal-statuspage</a>
        </div>
        <div class="col-12 col-sm-6 text-sm-right">
          Made with <span class="fas fa-heart"></span> by <a href="https://sp-codes.de">sp-codes</a>
        </div>
      </div>
    </div>
  </footer>
</div>
